/* Fonts:
   Fancy/header: font-family: var(--header-font, sans-serif);
   All-purpose: font-family: var(--normal-font, sans-serif);
  */

  :root {
    --header-font: 'Righteous', sans-serif;
    --normal-font: 'Ubuntu', sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--normal-font);
  }